@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

p {
 
  line-height: 8px;
  font-size:6px;
  background: url("../../1.jpg");
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  background-size: 100vh;
  background-position: center;
  width: 100vw;
  margin: auto;
  user-select: none;
}

body {
  background: black;
  overflow: hidden;
}