 
body {
    width: 90%;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    padding-top: 70px;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
}
.he_grid {
    width: 760px;
    margin: 10px auto;
    
}
.he_grid > div {
    float: left;
}
.he_grid > div > div {
    margin: 10px;
}
.he_grid > div > h3 {
    text-align: center;  
}
img.he_line {
    float: left;
    margin: 20px 180px;
    clear: both;
}

ul.menu {
    width: 98%;
    padding: 0;
    margin: 0 auto; 
}


/* --- clearfix --- */ 
.e_cf:before,
.e_cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.e_cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.e_cf {
    *zoom: 1;
}